.icon {
  display: inline-block;
}

.bg-video {
  width: 33px; height: 32px;
  background: url('assets/images/icons.png') -10px -10px;
}

.bg-telegram {
  width: 33px; height: 32px;
  background: url('assets/images/icons.png') -63px -10px;
}

.bg-search {
  width: 18px; height: 18px;
  background: url('assets/images/icons.png') -169px -10px;
}

.bg-micro {
  width: 33px; height: 32px;
  background: url('assets/images/icons.png') -10px -62px;
}

.bg-location {
  width: 12px; height: 18px;
  background: url('assets/images/icons.png') -169px -48px;
}

.bg-linkedin {
  width: 33px; height: 32px;
  background: url('assets/images/icons.png') -63px -62px;
}

.bg-like {
  width: 22px; height: 18px;
  background: url('assets/images/icons.png') -63px -114px;
}

.bg-home {
  width: 20px; height: 17px;
  background: url('assets/images/icons.png') -105px -114px;
}

.bg-dribble {
  width: 33px; height: 32px;
  background: url('assets/images/icons.png') -116px -10px;
}

.bg-chat {
  width: 33px; height: 32px;
  background: url('assets/images/icons.png') -116px -62px;
}

.bg-behance {
  width: 33px; height: 32px;
  background: url('assets/images/icons.png') -10px -114px;
}

.bg-arrow {
  width: 8px; height: 12px;
  background: url('assets/images/icons.png') -169px -86px;
}
