$color-black: #000000;
$color-grandis: #FFD38A;
$color-white: #FFFFFF;
$color-pattens-blue: #D6E7FF;
$color-flesh: #FFC5A0;
$color-anakiwa: #ABE1FF;
$color-aero-blue: #ADFFE6;
$color-mint-green: #A5FF96;
$color-grey: #828282;
