doctype
html(lang="en")
    head
        title Profile cards
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="main.css")
    body
        include chunks/header
        main
            include chunks/breadcrums
            include chunks/cards
        include chunks/footer
